<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectosemestral">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CarritoListado" />

        <activity
            android:name=".MenuPrincipal2"
            android:label="@string/title_activity_menu_principal2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_Pantalla_Carga"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegistrarUsuarioLogin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Confirmacion_registro_usuario"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IniciarSesion_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pantallacarga"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>